.dashboard{
    color: #FFFFFF;
    font-size: 1.55em;
    font-weight: bold;
    padding-left: 22px;
    width: 100%;
}

#container {
    display: flex;
}

#sidebar {
    width: 10%;
}

#sidebar .navbar-collapse .navbar-sidenav {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 56px;
}

#sidebar .navbar-sidenav {
    height: calc(100vh - 112px);
}

.sidebaritem{
    cursor: pointer;
    text-transform: capitalize;
}

#main {
    width: 90%;
}

#header {
    background-color: azure;
    text-transform: capitalize;
}

.header {
    color: #FFFFFF;
    font-size: 1.5em;
    position: relative;
    left: 47%;
}

#weatherComp {
    color: #FFF;
    float: right;
    position: absolute;
    right: 15px;
}

#view {
    height: 95%;
    padding: 10px;
}

#tools {
    padding: 15px;
}

.tool {
    margin: 5px;
    border: 1px solid gainsboro;
    padding-bottom: 10px;
}

.tool-name {
    font-size: 1.5em;
}

.tool-body {
    margin: 5px 5px;
}

#uxt-value {
    font-size: 1.2em;
}

#btn-refresh {
}

.month {
    width: max-content;
    margin: 10px;
    padding: 5px;
    border: 1px solid;
    font-size: 20px;
}

.month-name {
    display: inline-block;
    width: 70%;
    text-align: center;
}

.nav-btn {
    width: 15%;
    display: inline-block;
    height: 30px;
}

.week-header {
    margin-top: 25px;
    margin-bottom: 10px;
}

.month-body {
    margin-top: 5px;
}

.day, .day-null {
    display: inline-block;
    height: 32px;
    width: 32px;
    text-align: center;
}

.day:hover {
    cursor: pointer;
    display: inline-block;
    height: 32px;
    width: 32px;
    text-align: center;
    color: #ffffff;
    background-color: #005cbf;
}

.week:last-child {
    margin-right: 5px;
}

.three-months {
    width: max-content;
}

.three-months-body {
    display: inline-flex;
}

.three-months-btn-left {
    margin-left: 10px;
}

.three-months-btn-right {
    margin-right: 10px;
}